{% extends "base.html" %} 

{% include "category.html" %}

{% load static %}
{% block title %}
{{ object.title }}
{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "product.title" "product_detail" %}
  <div class="container">
    {% with category=object.category %} <h1></h1>
      <!-- product -->
      <div class="product-content product-wrap clearfix product-deatil">
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                  <div class="product-image">
                      <div id="myCarousel-2" class="carousel slide">
                          <ol class="carousel-indicators">
                              <li data-target="#myCarousel-2" data-slide-to="0" class=""></li>
                              <li data-target="#myCarousel-2" data-slide-to="1" class="active"></li>
                              <li data-target="#myCarousel-2" data-slide-to="2" class=""></li>
                          </ol>
                          <div class="carousel-inner">
                              <!-- Slide 1 -->
                              <div class="item active">
                                {% if item.image %}
                                <img class="card-img" src="{{ product.image.url }}" class="img-responsive" alt="product image">
                                {% else %}
                                <img class="card-img" src="{{ product.image.url }}" class="img-responsive" alt="">
                                {% endif %}
                              </div>
                              <!-- Slide 2 -->
                              <div class="item">
                                  <img src="{{ product.image2.url }}" class="img-responsive" alt="">
                              </div>
                              <!-- Slide 3 -->
                              <div class="item">
                                  <img src="{{ product.image3.url }}" class="img-responsive" alt="">
                              </div>
                          </div>
                          <a class="left carousel-control" href="#myCarousel-2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
                          <a class="right carousel-control" href="#myCarousel-2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
                      </div>
                  </div>
              </div>
  
              <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
                  <h2 class="name">
                      {{ object.title }}
                      <br> </br>
                      <small>Seller:<a href="javascript:void(0);">{{ object.owner.get_full_name }}</a></small>
                      <i class="fa fa-star fa-2x text-primary"></i>
                      <i class="fa fa-star fa-2x text-primary"></i>
                      <i class="fa fa-star fa-2x text-primary"></i>
                      <i class="fa fa-star fa-2x text-primary"></i>
                      <i class="fa fa-star fa-2x text-muted"></i>

                  </h2>
                  <hr />
                  <h3 class="price-container">
                      Was: <del>$ {{ product.old_price }}</del> <br/>  Now: <span class="badge badge-danger">${{ product.price }}</span></h5>
                      <small>*includes tax</small>
                  </h3>
                  <div class="certified">
                      <ul>
                          <li>
                              <a href="javascript:void(0);">Delivery time<span>7 Working Days</span></a>
                          </li>
                          <li>
                              <a href="javascript:void(0);">Brand<span>{{ product.brand }}</span></a>
                          </li>
                          <li>
                              <a href="javascript:void(0);">Quantity<span>{{ product.quantity }}</span></a>
                          </li>
                          <li>
                              <a href="javascript:void(0);">SKU<span>{{ product.sku }}</span></a>
                          </li>
                      </ul>
                  </div>
                  <hr />
                  <div class="description description-tabs">
                      <ul id="myTab" class="nav nav-pills">
                          <li class="active"><a href="#more-information" data-toggle="tab" class="no-margin">Product description </a></li>
                          <li class=""><a href="#specifications" data-toggle="tab">Specifications</a></li>
                          <li class=""><a href="#specifications" data-toggle="tab">Order</a></li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                          <div class="tab-pane fade active in" id="more-information">
                              <br />
                            
                              <p>
                                  <dd>
                                    {{ object.overview }}
                                  </dd>
                                 
                              </p>
                          </div>
                          <div class="tab-pane fade" id="specifications">
                              <br />
                              <dl class="">
                                  
                                  <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                  <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                  <dd>Eget lacinia odio sem nec elit.</dd>
                              </dl>
                          </div>
                          <div class="tab-pane fade" id="reviews">
                          </div>
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-6">
                          <a href="javascript:void(0);" class="btn btn-success btn-lg">Add to cart ($129.54)</a>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                          <div class="btn-group pull-right">
                              <button class="btn btn-white btn-default"><i class="fa fa-star"></i> Add to wishlist</button>
                              <button class="btn btn-white btn-default"><i class="fa fa-envelope"></i> Contact Seller</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- end product -->
  </div>

<h1>
    You may also like
</h1>
    

{% endwith %} {% endblock %}